In [3]:
from lib.transformdata import CreateTableInSQLServer
from lib.transformdata import MaskData
from lib.transformdata import TransformData
file_location = r'C:\Users\tomda\OneDrive\Desktop\Python Supper App\DataSF.xlsx'
sheet_name = 'Task'
df_data = TransformData(file_location, sheet_name).result() #Preparedata to import
df_data = MaskData(df_data, ['Name'], 'Full Name', r'lib\Maskdata\names.csv').mask_data()
# df_data = MaskData(df_data, ['Phone'], 'Full Name', r'lib\Maskdata\names.csv').mask_phone()
CreateTableInSQLServer('TOM', 'SampleCF', sheet_name, df_data).run()

df_data.head()

Amount Columns: []
Date Columns: []
OK

,Id,Status,Priority,OwnerId,Description,Type,AccountId,CreatedDate,Name
0,00T1500001ivl6tEAA,Open,Normal,00515000006ImOPAA0,Proposal sent,Call,0011500001HqpitAAB,2016-02-16,Alice Huang
1,00T1500001ivn3KEAQ,Open,Normal,00515000006ImOPAA0,NaN,Call,0011500001Hqr5fAAB,2016-02-16,Hampton Stewart
2,00T1500001iwa0qEAA,Open,Normal,00515000006eoKGAAY,Meeting with Mogas was on 1/22._x000D_\nNotes ...,Email,0011500001HohiqAAB,2016-02-18,Murray Mehta
3,00T1500001klB9eEAE,Open,Normal,00515000006eoKaAAI,NaN,Call,0011500001KHZDCAA5,2016-04-01,Add Jenkins
4,00T1500001px0ekEAA,Open,Normal,00515000006ImOPAA0,NaN,Referral (External),0011500001RWp1yAAD,2016-07-14,Erwin Ruiz