In [1]:
from lib.transformdata import CreateTableInSQLServer
from lib.transformdata import MaskData
from lib.transformdata import TransformData
file_location = r'C:\Users\tomda\OneDrive\Desktop\Python Supper App\Python-ETL\DataSF.xlsx'
sheet_name = 'Account'
df_data = TransformData(file_location, sheet_name).result() #Preparedata to import
df_data = MaskData(df_data, ['Name'], 'Full Name', r'lib\Maskdata\names.csv').mask_data()
df_data = MaskData(df_data, ['Phone'], 'Full Name', r'lib\Maskdata\names.csv').mask_phone()
CreateTableInSQLServer('TOM', 'SampleCF', sheet_name, df_data).run()

df_data.head()

Amount Columns: []
Date Columns: []

AttributeError: 'str' object has no attribute 'to_sql'